$azuli: #F5FFFA;
$verdei: #008080;


.card-hola {
border-style: dotted;
  border-width: 2px;
  border-color: $verdei;
  background-color: $azuli;
}

.imgi {
   width: 100%;
   padding-bottom: 5%;
}

.h4i {
    padding-bottom: 1%;
    color:$verdei
}
.pi {

color:$verdei
}

.btni {
    margin-left: 25%;
    margin-bottom: 10%;
}


