.cardJC {


    .a1 {
        $color-font: #000;
        $border: 1px dashed red;
        $font-size: 18px;
        $font: 'Roboto', sans-serif;
    }

    .a2 {
        $color-font: #000;
        $border: 1px dashed red;
        $font-size: 18px;
        $font: 'Roboto', sans-serif;
    }

}