.emma{
    height: auto;
    background: linear-gradient(to top right, #ff6600 0%, #cc00ff 100%);
    color: white;
    border-radius: 25px;
    padding: 10px;
    
}
.emma:hover{
    transform: scale(1);
}